<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }

    
    function refreshToken() {
        $("#result").html('Loading...')
        $.get("/refreshToken", function(data) {
          $("#result").html(data)
        })
    }
    
    function revokeToken() {
        $("#result").html('Loading...')
        $.get("/revokeToken", function(data) {
          $("#result").html(data)
        })
    }


    function traerFacturas() {
      $("#result").html('Loading...')
      $.get("/getFacturas", function(data) {
        $("#result").html(data)
      })
    }
    


  </script>
</head>
<body>
  <a href="/">Regresar</a>
  <h3>Conexión Éxitosa!</h3>
  
  <div>
    <button onclick="traerFacturas()">Traer Facturas</button>


    </div>
</body>
</html>